
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    /*   color: rgba(255,255,255,.5); */
    background-image: url(../images/download.png);
    overflow-x: hidden;
}

a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: all  0.5s;
}

li {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.top-one {
    width: 100%;
}

/*global end*/


/* heading-started */


.heading-wrapper {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}
.heading-wrapper img:hover{
    transition: all  0.5s;
    transform: rotatex(360deg);
}
.heading-wrapper img{
    transition: all  0.5s;
}

.heading-wrapper h1 {
    text-transform: capitalize;
    font-size: 52px;
    color: #fff;
    margin: 15px  0;
}

.heading-wrapper h1 span {
    color: #A9EF49;
}

.heading-wrapper p {
    font-size: 16px;
    padding: 20px 0;
    text-transform: capitalize;
    color: #7777;
}

.heading-wrapper img:hover {
    transform: rotatex(360deg);
}

 .button a {
    color: #fff;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid #a7ef45;
    border-radius: 16px;
    justify-content: center;
    padding: 12px 39px;
    font-family: Whyte Inktrap, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.heading-wrapper .button {
    margin: 30px 0;
}

 .button a:hover {

    color: #fff;
    background-image: linear-gradient(315deg, rgba(167, 239, 69, .3), transparent);
}
@media only screen and (max-width:768px){

    .heading-wrapper {
        margin-top: 80px;
    }

    .heading-wrapper h1 {
        font-size: 30px;
    }

   
    
}
@media only screen and (max-width:575px){

    .heading-wrapper {
        width: 100%;
        margin-top: 60px;
    }

    .heading-wrapper h1 {
        font-size: 26px;
    }

    .heading-wrapper p {
        padding:  0;
    }

    .heading-wrapper .button {
        margin: 0;
    }
    
}




/* heading-end */

/* slide-img-started */

.slide-img{
    width: 100%;
}



.slide-img-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 15px 0;
}

.img-one{
 width: 25%;
padding: 40px 0;
text-align: center;
}

.img-one img{
    width: 300px;
    height: 100%;
    max-width: 100%;
}

@media only screen and (max-width:991px){
    .slide-img-wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .img-one{
     width: 33%;
     margin: 0 auto;
     padding: 20px 0;

    }
    
}

@media only screen and (max-width:768px){
    .slide-img-wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .img-one{
     width: 48%;
     margin: 0 auto;
     padding: 15px 0;

    }
    
}

@media only screen and (max-width:575px){
    .slide-img-wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .img-one{
     width: 100%;
     margin: 0 auto;
     padding: 15px 0;

    }
    .img-one img{
        width: 250px;
        height: 100%;
        max-width: 100%;
    }
    
}



/* slide-img-end */


/* top-card-started */

.top-card{
    width: 100%;
    margin: 100px  0;
}

.card-wrapper{
    width: 100%;
    display: flex;
    column-gap: 4%;
}


.card-left{
    width: 48%;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(225deg,rgba(255,255,255,.1),rgba(255,255,255,.03));
    border: 1px solid rgba(255,255,255,.05);
    border-radius: 18px;
    padding: 19px;
}

.complete{
    display: flex;
}
.complete p{
    color: #a7ef45;
}

.step-title-container{
    display: flex;
    margin: 15px  0;
}

.step-title{
    width: 80%;
    color: #7777;
}
.step-img{
    width: 20%;
    text-align: right;
}

.task-title{
    color: #7777;
    width: 48%;
    text-transform: capitalize;
}

.request{
    display: flex;
    background-color: rgba(255,255,255,.03);
    border: 1px solid rgba(255,255,255,.05);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    padding: 14px 15px;
}


.card-right{
    width: 48%;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(225deg,rgba(255,255,255,.1),rgba(255,255,255,.03));
    border: 1px solid rgba(255,255,255,.05);
    border-radius: 18px;
    padding: 19px;
}

.step-title-container{
    display: flex;
}


.step-logo{
    width: 48%;
text-align: right;

}

.step-task{
    width: 48%;
    text-align: left;
color: #7777;
display: flex;

}

.request-img img{
    border-radius: 20px;
}


@media only screen and (max-width:991px){
    .card-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 0%;
    }
    .card-left {
        width: 100%;
      margin-bottom: 20px;
    }
    .card-right {
        width: 100%;
       
    }
    .request-img img{
        max-width: 500px;
        width: 100%;
    }
    
    .step-img  img{
        max-width: 30px;
        width: 100%;
    }
    .telo img{
        max-width: 120px ;
        width: 100%;
    }
}

@media only screen and (max-width:575px)
{
    .request {
        border-radius: 5px;
        margin-top: 5px;
        padding: 10px 9px;
    }
    .step-img  img{
        max-width: 35px;
        width: 100%;
    }
    .telo img{
        max-width: 90px ;
        width: 100%;
    }
}


/* top-card-end */




/* top-three-started */

.top-three{
    width: 100%;
}


.three-wrapper{
    width: 50%;
    margin:  0  auto; 
    text-align: center;  

}

.three-wrapper h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;

   
}

.three-wrapper span{
    color: #a7ef45;
}

.three-wrapper p{
color: #7777;
margin: 20px 0;
font-size: 18px;
}

.button{
    padding: 40px  0;
}


.star-started{
    text-align: center;
}

.star-wrapper{
padding: 220px  0;
}


.star-content h2{
    color: #fff;
    text-align: center;
    width: 50%;
    margin:  0 auto;
    font-size: 30px;
    line-height: 40px;
    padding: 40px  0;
   /*  font-family: Wallingstar,sans-serif; */
   font-weight: 200;

}

.blog-img{
    margin: 30px  auto;
    text-align: center;
}
.blog-img img{
    padding-bottom: 20px;
}

.blog-img h4{
    color: #fff;
}
.blog-img h3{
    color: #7777;
}

.banner-text{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 40px  0;
}

.banner-text h2{
    color: #7777;
    font-size: 42px;
    line-height: 80px;
    text-decoration: line-through;
}

.ultimate-text {
    text-align: center;
}

.ultimate-text h2 span{
    color: #a7ef45;
}
.ultimate-text h2{
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 600;
}


@media only screen and (max-width:768px){
    .three-wrapper h2 {
        font-size: 24px;
    }
    .three-wrapper p {
        margin: 15px 0;
        font-size: 16px;
    }
    .button {
        padding: 0px 0;
    }
    .star-wrapper {
        padding: 80px 0;
    }
    .star-content h2 {
        font-size: 22px;
        line-height: 34px;
        padding: 25px 0;
    }
}
@media only screen and (max-width:575px){
    .three-wrapper h2 {
        font-size: 20px;
    }
   
   
    .star-wrapper {
        padding: 50px 0;
    }
    .button a {
        border-radius: 10px;
        padding: 11px 16px;
    }
    .star-content h2 {
        font-size: 20px;
        line-height: 30px;
        padding:  0;
    }

    .blog-img {
        margin: 15px auto;
        
}
}



/* top-three-end */



/* pricing-top-started */


.pricing-top{
    width: 100%;
    padding: 50px  0;

}

.pricing-head{
    text-align: center;
}

.pricing-head h2  span{
    color: #a7ef45;
}

.pricing-head h2{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
}

.pricing-head p{
    color: #7777;
    font-size: 16px;
    padding: 15px 0;
}


.stading-button  a{
    background-color: #161616;
    padding: 15px  40px;
    border-radius: 10px;
    text-transform: uppercase;
}


.stading-button{
    padding: 40px  0;
}


.pricing-wrapper{
   background-color:  #181818;
   display: flex;
   width: 100%;
   border-radius: 40px;
}

.standard-logo  a{
    color: #000;
    background-color: #a7ef45;
    border-radius: 20px;
    padding: 7px 14px;
    font-family: Whyte Inktrap,sans-serif;
    font-size: 11px;
    font-weight: 900;
    line-height: 10px;
}

.left-pricing{
    width: 45%;
    padding: 12px 50px;
}

.price h4{
    color: #fff;
    font-size: 40px;
    padding: 15px  0;
}
.price h4 span{
    color: #a7ef45;
    font-size: 30px;
}


.price p{
    color: #fff;
    padding: 15px  0;
}


.price h5{
    color: #7777;
    padding: 15px 0;
}





.right-pricing{
    width: 45%;
   height: 100%;
   position: relative;
   background-color: #202020;
   box-shadow: 1px 1px 30px 15px #161616;
   border-radius: 20px;
   padding: 15px  20px;

}
.plan-wrapper::before{
    height: 80%;
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

}

.plan a{
color: #fff;
text-transform: capitalize;
font-size: 18px;
padding-bottom: 15px;
}

.plan a span{
    color: #A9EF49;
    padding-right: 10px;
}

.toggel{
    background-color: #222222;
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.tog-wrap{
    width: 48%;
}

.toggel-content{
    display: flex;
    width: 100%;
}
.toggel-font a{
    font-size: 30px;
}

.toggel-content a{
    padding-right: 10px;
}


@media only screen and (max-width:991px){
    .pricing-top {
        padding: 0; 
    }
    .pricing-wrapper {
        border-radius: 30px;
        flex-wrap: wrap;
    }
    .right-pricing {
        width: 100%;
        text-align: center;
    }
    .left-pricing {
        width: 100%;
        text-align: center;
    }
}

/* pricing-top-end */


/* 
frequently-top-started */


.frequently-top{
    width: 100%;
    padding: 80px  0;
}


.freqently-head{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.freqently-head h2 span{
color: #a7ef45;
}

.freqently-head h4{
    color: #7777;
    padding: 10px 0;
}

.freqently-head h2{
    color: #fff;
    text-transform: capitalize;
    font-size: 34px;
}



.question-wrapper{
    width: 100%;
    padding: 50px 0;
}

.one-question{
 width: 100%;
 display: flex;
 background-color: #212121;
 border-radius: 10px;
 margin-bottom: 15px;
 padding: 15px  18px;

 }

.ques-asked{
    width: 95%;
    color: #fff;

}

.font-ques{
    width: 5%;
    text-align: right;

}

.font-ques  a{
color: #fff;
}

@media only screen and (max-width:991px){
    .freqently-head h2 {
        font-size: 24px;
    }
    .frequently-top {
        padding: 60px 0;
    }
    
    
}
@media only screen and (max-width:575px){
    .freqently-head h2 {
        font-size: 20px;
    }
    .frequently-top {
        padding: 25px 0;
    }
    .freqently-head h4 {
        font-size: 16px;
    }
    .ques-asked h3{
        font-size: 17px;
    }
    .question-wrapper {
        padding: 25px 0;
    }
}


/* frequently-top-end */



/* get-started-started */


.get-started{
    width: 100%;
}

.get-started-head{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}


.get-started-head h2 span{
    color: #A9EF49;
}

.get-started-head h2{
    color: #fff;
    text-transform: capitalize;
    font-size: 40px;
}

.get-started-head p{
    color: #7777;
    padding: 15px 0;
    font-size: 16px;
}
@media only screen and (max-width:768px){
    .get-started-head h2 {
        font-size: 24px;
    }
}
@media only screen and (max-width:575px){
    .get-started-head h2 {
        font-size: 20px;
    }
}



/* get-started-end */


/* footer-started */


.footer-content{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.footer-content h3{
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
}


.footer-li{
    text-align: center;
    margin: 30px 0;
}


.foot-ul{
    display: flex;
    justify-content: center;
}

.foot-ul li a{
    color: #7777;
    padding-left: 22px;
    text-transform: uppercase;
}


.foot-ul li a:hover{
    color: #a7ef45;
}

@media only screen and (max-width:991px){
    .star-wrapper {
        padding: 120px 0;
    }
}